@font-face {
    font-family: 'Roboto Bk';
    src: url('./fonts/roboto-black-webfont.woff2') format('woff2'),
    url('./fonts/roboto-black-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
body{
    font-family: 'Roboto Bk'
}
table {
    margin-left:auto;
    margin-right:auto;
    margin-top:12%;
    border: 1px solid black;
}
th {
    border: 1px solid black;
    width:180px;
    text-align: center;
    vertical-align: middle;
}
a {
    text-decoration:none;
    color:white;
}
section {
    background-color:#379EC1;
    margin-left:12%;
    display:block;
    border: 2px solid black;
    height: 400px;
    width:1000px;
    padding-top:20px;
}
.div1 {
    position: fixed;
    left: 15%;
}
.div2 {
    position: fixed;
    right: 40%;
    top: 3%;
}
.div3 {
    position: fixed;
    left: 15%;
    top: 10%;
    border-radius: 20px;
    background: #659224;
    padding: 15px;
    width: 200px;
    height: 20px;
    text-align:center;
}
.div4 {
    margin-top:25%;
}
